:root {
    --text-color: rgb(19, 17, 17);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navigationbar {
    background-color: rgb(96, 91, 180);
}

.navigationbar li {
    list-style: none;
}

.navigationbar a {
    color: var(--text-color);
    text-decoration: none;
}

.card {
    list-style: none;
    background-color: rgb(96, 91, 180);
    text-align: center;
    width: 150px;
    margin: 15px;
    padding: 15px;
}