* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(97, 146, 253);
}

header > nav {
    border: 5px solid rgb(255, 120, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    background-color: rgb(255, 138, 43);
    padding: 0 1rem;
    width: 80%;
    height: 80%;
}

.headerbox {
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    width: 8rem;
    height: 4rem;
}

.headerbox2 {
    border: 5px solid rgb(9, 155, 29);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(29, 177, 49);
    width: 15rem;
    height: 4rem;
}

.headerbox2item {
    border: 5px solid rgb(161, 16, 16);
    padding: 0.5rem 1rem;
    background-color: brown;
}

main {
    border: 5px solid rgb(255, 120, 10);
    background-color: rgb(255, 138, 43);
    height: 100rem;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid rgb(127, 129, 228);
    background-color: rgb(174, 175, 236);
    width: 100%;
    height: 50%;
}

.s1div1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    height: 80%;
    width: 45%;
}

.s1div1divs {
    border: 5px solid rgb(161, 16, 16);
    margin: 1%;
    padding: 16%;
    background-color: brown;
}

.s1div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    height: 80%;
    width: 45%;
}

.s1div2div1 {
    border: 5px solid rgb(161, 16, 16);
    padding: 15%;
    background-color: brown;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid rgb(156, 90, 199);
    background-color: rgb(174, 175, 236);
    width: 100%;
    height: 50%;
}

.s2div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    height: 80%;
    width: 45%;
}

.s2div1div1 {
    border: 5px solid rgb(161, 16, 16);
    margin: 1%;
    padding: 10% 28%;
    background-color: brown;
}

.s2div1div2 {
    border: 5px solid rgb(161, 16, 16);
    margin: 1%;
    padding: 10% 45%;
    background-color: brown;
}

.s2div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    height: 80%;
    width: 45%;
}

.s2div2divs {
    border: 5px solid rgb(161, 16, 16);
    margin: 2%;
    padding: 20% 10%;
    background-color: brown;
}

footer {
    border: 5px solid rgb(114, 139, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(132, 154, 252);
    height: 10rem;
}

.footerboxes {
    border: 5px solid rgb(9, 155, 29);
    background-color: rgb(29, 177, 49);
    width: 30%;
    height: 70%;
}